faiss-cpu
langchain
langchain-core
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-ollama
langchain-community
numpy==1.24.0
pydantic==2.9.2
PyQt5>=5.15.0
pyttsx3==2.90
requests==2.31.0
spacy==3.7.5
textstat
tiktoken
