faiss_cpu==1.10.0
langchain==0.3.20
langchain_anthropic==0.3.9
langchain_community==0.3.19
langchain_core==0.3.43
langchain_google_genai==2.0.11
langchain_ollama==0.2.3
langchain_openai==0.3.8
numpy==2.2.3
pydantic==2.10.6
PyQt5==5.15.11
PyQt5_sip==12.17.0
pyttsx3==2.98
Requests==2.32.3
tiktoken==0.8.0
